---
import BaseHead from "@/components/BaseHead.astro";
import ExternalScripts from "@/components/ExternalScripts.astro";
import Footer from "@/components/Footer.astro";
import Gallery from "@/components/Gallery.astro";
import Header from "@/components/Header.astro";

let title = "Iuliana's Art Corner";
let description =
  "Iuliana's Art Corner";
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'Hello, my name is Iuliana.
I'm a February Child, born 1976 in Sibiu, Romania. I have an Veterinary assistant degree. Since 2003, my husband and I live in three places: Spain, Germany and Romania.
In 2009 I met Willi Mayerhofer in Côte d'Azur. His paintings and his words motivated me to start to paint. So, I let my creativity flow, being inspired from the sunlight of Mallorca - ("La Isla de la Luz") a light, that makes the colours more intensive as in any other place.
What started as a hobby, it is now a Passion. Step by step I explore the world of abstract painting, trying different techniques, having a lot of joy and relaxation. It's a beautiful world, full of colours, free and without boundarys. It's my Infinity.'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />
      <Footer title={title} description={description} />
      <Gallery />
    </div>
    <ExternalScripts />
  </body>
</html>
